.page {
  display: flex;
  height: 100%;
  flex-direction: column;

  @media (width >= 1024px) {
    flex-direction: row;
  }
}

.textPane {
  display: flex;
  width: 100%;
  height: 100%;
  flex: 1;
  align-items: center;
  padding: 2rem;
  margin: auto;
  background: url('/about-bg.jpg');
  background-position: center;
  background-size: cover;
  color: #edf0ef;
  font-family: var(--serif);
  font-weight: 300;
  line-height: normal;
}

.text {
  margin: 0 auto;
  font-size: 4rem;
}

.messagePane {
  display: flex;
  overflow: auto;
  height: 100%;
  flex: 1;
  padding: 1rem;
  background-color: #fff;
  color: black;
  text-align: center;
}

.impressumContent {
  margin: auto 0;

  p {
    margin: 1rem 0;
  }
}
