.body {
  margin: 0 auto;
}

.root {
  --header-height: 5rem;

  display: grid;
  grid-template-rows: var(--header-height) 1fr;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  height: 100vh;
}

.logoIcon {
  width: 90px;
}

.logoLink {
  color: black;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.75rem;
  grid-column: span 2 / span 2;
}

.content {
  grid-column: span 2;
  height: calc(100vh - var(--header-height));
}
