.body {
  margin: 0 auto;
}

.root {
  --header-height: 5rem;

  display: grid;
  min-height: 100vh;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: var(--header-height) 1fr;

  @media (width >= 1024px) {
    height: 100vh;
    min-height: unset;
  }
}

.logoIcon {
  width: 90px;
}

.logoLink {
  color: black;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.75rem;
  grid-column: span 2 / span 2;
}

.content {
  min-height: calc(100vh - var(--header-height));
  grid-column: span 2;
}
