@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --serif: 'new-spirit-condensed';
  --sans-serif: 'roc-grotesk';
  --color-purple: #7b77bc;
  --color-dark-grey: #292929;
}

body {
  font-family: var(--sans-serif);
}
