.container {
  position: relative;
  display: flex;
  height: 100%;
  flex-direction: column;
}

.contentContainer {
  position: relative;
  z-index: 2;
  display: flex;
  height: 100%;
  flex-direction: column;
}

.titleContainer {
  position: relative;
  overflow: hidden;
  flex: 1;
  aspect-ratio: 1/1;

  @media (width >= 1024px) {
    aspect-ratio: unset;
  }
}

.title {
  position: absolute;
  bottom: 0;
  margin: 1.75rem 1.75rem 1rem;
  color: white;
  font-family: var(--serif);
  font-size: 2rem;
  font-weight: 300;
  line-height: 1;
  text-transform: uppercase;
}

.bio {
  padding: 1.5rem 2rem;
  background-color: var(--color-dark-grey);
  color: white;
  font-size: 1.25rem;
  line-height: 1.6;

  @media (width >= 1024px) {
    overflow: auto;
    height: 50%;
    padding: 1.5rem 3rem;
  }
}

.image {
  width: 100%;
  height: 100%;
  max-height: 100vw;
  object-fit: cover;
  object-position: var(--image-position-desktop);

  @media (width <= 1024px) {
    object-position: var(--image-position-mobile);
  }

  @media (width >= 1024px) {
    height: 100%;
  }
}

.socialLinks {
  padding: 0;
  margin: 1rem 0;
  list-style: none;
}

.socialItem {
  display: inline-block;
  margin-right: 1rem;
}

.socialIcon {
  width: 48px;
  height: 48px;
}
