.main {
  overflow: hidden;
  height: 100%;
}

.container {
  width: 100%;
  height: 100%;

  @media (width >= 1024px) {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.main {
  height: 100%;
}

.poster {
  height: 100%;
  background: url('/about-bg.jpg');
  background-position: center;
  background-size: cover;
}
