.nav {
  height: 100%;
}

.list {
  display: grid;
  height: 100%;
  grid-auto-rows: auto;
}

.listItem {
  // Height as proportion of viewport?
  display: grid;
}

.linkContainer {
  --calculated-height: calc((100vh - var(--header-height)) / var(--artist-count));

  min-height: var(--calculated-height);
  border-top: 1px solid var(--color-purple);
  color: black;
  cursor: pointer;
  font-family: var(--serif);
  font-size: 2.5rem;
  font-weight: 300;
  text-transform: uppercase;
  transition: 0.15s ease-in-out;
  transition-property: background-color, color;

  @media (width >= 1024px) {
    overflow: hidden;
    height: var(--calculated-height);
    min-height: 4.5rem;
    white-space: nowrap;
  }

  &:hover {
    background-color: var(--color-purple);
    color: white;
  }
}

.linkContainerActive {
  background-color: var(--color-purple);
  color: white;
}

.listItemLink {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  padding: 0.5rem 1.75rem;
}

.artistProfile {
  min-height: 100vh;
}
