.nav {
  display: flex;
  align-items: center;
  color: rgb(75 85 99);
  font-size: 1rem;
  gap: 1.25rem;

  @media (width >= 540px) {
    font-size: 1.5rem;
    gap: 2rem;
  }
}

.navItem {
  color: var(--color-purple);
  font-weight: 500;
  text-transform: uppercase;

  &:hover {
    text-decoration: underline;
  }
}

.navItemActive {
  color: white;
  -webkit-text-stroke: 1px var(--color-purple);

  &:hover {
    text-decoration: none;
  }
}
